 <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                       <span class="display-2 text-white"> FYP <i class="fas fa-heart"></i></span>
                        <h1 class="text-white">Welcome !</h1>
                        <p class="text-lead text-white">Fill these credentials to do something awesome.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        
                        {{!-- <input type="hidden"
                            class="form-control" name="_csrf" value="{{csrfToken}}" >
                        </div> --}}
                        <div class="text-center">
                            <a href="/login/student" type="submit" class="btn btn-primary my-4">Student</a>
                        </div>
                        <div class="text-center">
                            <a href="/login/teacher" type="submit" class="btn btn-primary my-4">Teacher</a>
                        </div>   
                        <div class="text-center">
                            <a href="/login/admin" type="submit" class="btn btn-primary my-4">Admin</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>