	<!-- Row -->
			<div class="row" style="min-height:100%;">
				<div class="col-xl-12">					
					<!-- Preview Sec -->
					<section id="preview_sec" style="height:100vh;" class="bg-white hk-landing-sec">
						<div class="container position-relative pt-50">
							<div class="text-center mb-60">
								<h1 class="font-48">WHO ARE YOU ? <br/>Sginup and start managing your fyp.</h1>
								<h4 class="mt-15 mb-15">A professional portal to mantain your project.</h4>
								<div>Already our member ? <a class="text-primary" href="#">Login</a></div>
							</div>
							<div class="hk-row text-center">
								
                                <div class="col-lg-6 col-sm-6">
									<a href="/signup/student">
										<div class="card shadow-hover">
											<img height="269px" class="card-img-top" src="dist/img/students.jpg" alt="Card image cap">
											<div class="card-footer text-dark">
												Student
											</div>
										</div>
									</a>
								</div>

                                  <div class="col-lg-6 col-sm-6">
									<a href="/signup/teacher">
										<div class="card shadow-hover">
											<img height="269px" class="card-img-top" src="dist/img/teachers.jpg" alt="Card image cap">
											<div class="card-footer text-dark">
												Teacher
											</div>
										</div>
									</a>
								</div>
 
						
							</div>
						</div>
					</section>
					<!-- /Preview Sec -->		
				</div>
			</div>
			<!-- /Row -->
            