    <div class="hk-footer-wrap container-fluid">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Developed by<a href="#" class="text-dark">Students</a> © 2019</p>
                        </div>
                    </div>
                </footer>
            </div>