{{!-- Footer --}}
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-12">
            <div class="copyright text-lg-center text-muted">
                &copy; 2019-20 CS Dept FYP
            </div>
        </div>
    </div>
</footer>