<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#282828"/>
<title>SPP | {{ title }} </title>

<!-- Favicon --> 
<link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
<!-- CSS FILES -->
<link rel="stylesheet" href="/agensy/css/animate.min.css">
<link rel="stylesheet" href="/agensy/css/odometer.min.css">
<link rel="stylesheet" href="/agensy/css/fancybox.min.css">
<link rel="stylesheet" href="/agensy/css/swiper.min.css">
<link rel="stylesheet" href="/agensy/css/bootstrap.min.css">
<link rel="stylesheet" href="/agensy/css/style.css">
</head>
<body>
	
<div class="preloader">
  <div class="inner">
  <figure class="logo"><img src="agensy/images/logo-light.png" alt="Image"></figure>
  	<span class="percentage"></span>
  </div>
  <!-- end inner -->
</div>
<!-- end preloader -->

<div class="transition-overlay"></div>
<!-- end transition-overlay -->

<div class="navigation-menu">
	<div class="inner">
	<div class="side-menu">
      <ul>
        <li><a href="/">Home</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/signup">Register</a></li>
      </ul>
    </div>
    <!-- end side-menu -->
	<div class="sides">
	<div id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325518.68780316407!2d30.252511957059642!3d50.4016990487754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1552081224273" width="600" height="450" style="border:0" allowfullscreen></iframe>
	</div>
	<!-- end map -->
		<figure><img src="agensy/images/office01.jpg" alt="Image">
		<a href="#map" data-fancybox><img src="/agensy/images/icon-map-marker.svg" alt="Image"></a>
		</figure>
	</div>
	<!-- end sides -->
	<div class="sides"><h2>Agensy is a creative portfolio <strong>Themeforest</strong> layout will help freelancers and digital agencies to create unique websites.</h2>
	<address>Kristiatik 15th Street, Floot 17<br>
Kiev, Ukraine 78692<br>
<a href="#">hello@students.com</a>
+380 98 294 80 86
</address>
	</div>
	<!-- end sides -->
	</div>
	<!-- end inner -->
</div>
<!-- end navigation-menu -->

<aside class="left-side">
 <div class="logo">
 	<img src="agensy/images/logo-symbol.png" alt="Image">
 </div>
  <ul>
    <li><a href="#">Uzair Khurshid</a></li>
    <li><a href="#">Ali Raza</a></li>
    <li><a href="#">Sana Iqbal</a></li>
  </ul>
  <a href="#top" class="gotop"><img src="agensy/images/icon-gotop.svg" alt="Image"></a> 
</aside>
<!-- end left-side -->

<header class="header">
  <nav class="navbar">
    <div class="logo"> <a href="index.html"><img src="/agensy/images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="main-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
          <li><a href="/signup">Register</a></li>
      </ul>
    </div>
    <!-- end main-menu -->
        <div class="hamburger-menu" id="hamburger-menu">
      <div class="burger">
        <svg id="burger-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <title>Show / Hide Navigation</title>
          <rect class="burger-svg__base" width="50" height="50"/>
          <g class="burger-svg__bars">
            <rect class="burger-svg__bar burger-svg__bar-1" x="14" y="18" width="22" height="2"/>
            <rect class="burger-svg__bar burger-svg__bar-2" x="14" y="24" width="22" height="2"/>
            <rect class="burger-svg__bar burger-svg__bar-3" x="14" y="30" width="22" height="2"/>
          </g>
        </svg>
      </div>
      <!-- end burger --> 
    </div>
    <!-- end hamburger-menu --> 
  </nav>
  <!-- end navbar -->
  <div class="headlines">
    <div class="container">
      <h1>Student Project Portal <br>
        Verification</h1>
    </div>
    <!-- end container --> 
  </div>
  <!-- end headlines --> 
</header>
<!-- end header -->
  {{{ body }}}
<!-- end work-with-us -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="career wow fadeInUp">
          <h6>Student Project Portal</h6>
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
          <div class="custom-link"><a href="/signup">Register</a> <span></span> <i></i>
          </div>
          <!-- end custom-link -->
          </div>
        <!-- end career --> 
      </div>
      <!-- end col-12 -->

      <div class="col-12 wow fadeInUp">
        <div class="sub-footer">
          <ul>
            <li><a href="#">Bahria University</a></li>
          </ul>
          <span>© 2019 By Students</span> </div>
        <!-- end sub-footer --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer --> 

<!-- JS FILES --> 
<script src="/agensy/js/jquery.min.js"></script> 
<script src="/agensy/js/bootstrap.min.js"></script> 
<script src="/agensy/js/imagesloaded.pkgd.min.js"></script> 
<script src="/agensy/js/isotope.min.js"></script> 
<script src="/agensy/js/swiper.min.js"></script> 
<script src='/agensy/js/TweenMax.min.js'></script> 
<script src='/agensy/js/odometer.min.js'></script> 
<script src='/agensy/js/fancybox.min.js'></script> 
<script src='/agensy/js/wow.min.js'></script> 
<script src='/agensy/js/scripts.js'></script> 
</body>
</html>