<section class="slider">
  <div class="swiper-container"> 
    <div class="swiper-wrapper"> 
      
      <div class="swiper-slide" data-background="/dist/img/home_clip2.jpg">
        <div class="slide-inner">
<!--        <figure><img src="agensy/images/client01.png" alt="Image"></figure>-->
<!--        	<h2>Space in typographical terms is usually</h2>-->
<!--        	<div class="link">-->
<!--        	<a href="#">SEE CASE STUDY</a>-->
<!--        	</div>-->
        	<!-- end link -->
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
     
      <div class="swiper-slide" data-background="/dist/img/home_clip4.jpg">
        <div class="slide-inner">
<!--        <figure><img src="agensy/images/client02.png" alt="Image"></figure>-->
<!--        	<h2>Space in typographical terms is usually</h2>-->
<!--        	<div class="link">-->
<!--        	<a href="#">SEE CASE STUDY</a>-->
<!--        	</div>-->
<!--        	&lt;!&ndash; end link &ndash;&gt;-->
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
     
      <div class="swiper-slide" data-background="/dist/img/home_clip6.jpg">
        <div class="slide-inner">
<!--        <figure><img src="agensy/images/client03.png" alt="Image"></figure>-->
<!--        	<h2>Space in typographical terms is usually</h2>-->
<!--        	<div class="link">-->
<!--        	<a href="#">SEE CASE STUDY</a>-->
<!--        	</div>-->
<!--        	&lt;!&ndash; end link &ndash;&gt;-->
        </div>
        <!-- end slide-inner -->
      </div>
      <!-- end swiper-slide -->
    
    </div>
    <!-- end swiper-wrapper -->
    <div class="swiper-pagination"></div>
    <!-- end swiper-pagination -->
    <div class="swiper-button-next"><span></span><b>NEXT</b></div>
    <!-- end swiper-button-next -->
  </div>
  <!-- end swiper-container -->
</section>
<!-- end slider -->