 {{!-- Header --}}
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Teacher</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
           <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
  <h3 class="mb-0">Create new teacher</h3>
                    <p class="text-sm mb-0">
                        Create new teacher for your application.
                    </p>
                        </div>
                        <div class="col-6 text-md-right">
                                <a class="btn btn-primary" href="/admin/teachers">Show All Teachers</a>
                        </div>
                    </div>
                  
                </div>
                <div class="container py-4">
                    <form method="POST" action="/admin/teachers/create">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                               <label for="regNo" class="form-control-label" >Register No</label>
                               <input type="text" placeholder="Enter teacher register number" class="form-control" name="regNo" id="regNo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                               <label for="name" class="form-control-label" >Name</label>
                               <input type="text" placeholder="Enter teacher name" class="form-control" name="name" id="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender" class="form-control-label" >Gender</label>
                               <select class="custom-select" name="gender" id="gender">
                                   <option disabled selected value="">Select Gender</option>
                                   <option value="male">Male</option>
                                   <option value="female">Female</option>
                               </select>
                            </div>
                        </div>
                    </div>
                       <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                               <label for="email" class="form-control-label" >Email</label>
                               <input type="email" placeholder="Enter teacher email" class="form-control" name="email" id="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department" class="form-control-label" >Department</label>
                                 <select class="custom-select" name="department" id="department">
                                   <option disabled selected value="">Select Department</option>
                                   <option value="CS">Computer Science</option>
                                   <option value="SE">Software Engineering</option>
                               </select>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="campus" class="form-control-label" >Campus</label>
                                 <select class="custom-select" name="campus" id="campus">
                                   <option disabled selected value="">Select Campus</option>
                                   <option value="karachi">Karachi Campus</option>
                                   <option value="islamabad">Islamabad Campus</option>
                               </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password" class="form-control-label" >Password</label>
                                   <input placeholder="Enter teacher password" type="password" name="password" id="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                   <input  type="hidden" name="_csrf" value="{{csrfToken}}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
       {{> footer }}
    </div>